*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* color: rgb(0, 85, 0);   */
/* .grid{
    display: grid;
}                                                                               
.grid-two--template{
    grid-template-columns: repeat(2,1fr);
} */
.font{
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: rgb(44, 153, 16);
    padding: 0.9rem 3rem;
    border-radius: 10px;
    font-size: 0.9rem;
    display: inline-block;
    cursor: pointer;
    transition: all ease 0.3s;
    & a{
        /* color: white; */
        color: rgb(206, 245, 206);
        transition: all linear 0.6s;  
    }
}
.btn:hover{
    background-color: transparent;
    & a{
        color: rgb(1,61,1);
    }
}
.container{
    padding: 1rem 2rem;
}
#page1{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 175, 96, 0.123);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .brand-name{
        color: rgb(0, 85, 0); 
        font-weight: 500;
        font-size: 1.2rem;
    }
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.hero-section{
    padding-top: 6rem;
    display: grid;
    place-items: center;
    gap: 2rem;
    text-align: center;
    & h1{
        line-height: 1;
        font-size: 7.5rem;
        font-weight: 900;
        color: rgb(1, 66, 1);
    }
    & .hero-para{
        color: rgb(72, 166, 72);
        font-weight: 500;
        font-size: 1.5rem;
    }
    & .hero-btn{
        margin-top: 1rem;
        letter-spacing: 0.5px;
    }
}

/* ******************* page2 ***************************** */

#page2{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 175, 96, 0.123);
}
#page2 .image{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
   & img{
    width: 100%;
    height: 100%;   
    object-fit: cover;
    position: absolute;
   }
}
/* ************ page2 end ************** */

/* ************ page3 ************** */

#page3{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 175, 96, 0.123);
}
.our-communitment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}
.our-communitment-content{
    font-size: 2.5rem;
    font-weight: 900;
    & .para1{
        text-align: center;
        color:  rgb(93, 168, 7);
    }
    & .para2{
        padding-top: 0.8rem;
        text-align: center;
        color: rgba(4, 110, 38, 0.858);
    }
}
.our-communitment img{
    width: 50%;
    height: 700px;
    border-radius: 20px;
}

/* **************** page3 end **************** */

/* ***************** page4 explore our******************** */

#page4{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 175, 96, 0.123);
}
.explore-our-mainheading h1{
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 0.3px;
    color: rgb(1, 66, 1);
}
.explore-our-subheading p{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    color: rgb(72, 166, 72);
}
.explore-our-maincontent{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between; 
    gap: 1.5rem;
    flex-wrap: wrap;    
}
.explore-our-container{
    width: 48%;
    height: 250px;
    border: 2px solid green;
    padding: 0rem 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    overflow: hidden;
    border-radius: 10px;
}
.explore-our-container .left-ctn{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    & p{
        color: rgb(95, 182, 7);
    }
    & h1{
        font-size: 2rem;
        font-weight: 800;
        line-height: 1;
        color: rgb(44, 77, 11);
    }
    & h3{
        color: rgb(94, 117, 55);
    }
}

.explore-our-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.right-ctn{
    height: 100%;
    width: 100%;
}
.full-width{
    width: 100%;

    & .right-ctn{
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
/* ***************** Page4 End ****************** */

/* ***************** Page5 start ****************** */

#page5{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 175, 96, 0.123);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 3rem;
}
.sustainable-fashion-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.7rem;
}
.sustainable-fashion-images .image-div{
    width: 180px;
    height: 210px;
    border-radius: 4rem;
    position: relative;
    overflow: hidden;

    & img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
}
.sustainable-fashion-content{
    .sustainable-fashion-heading h1{
        /* font-size: 4.5rem; */
        font-size: 5vw;
        line-height: 1;
        font-weight: 900;
        letter-spacing: 0.3px;
        color: rgb(1, 66, 1);
    }
    & p{
        padding: 1.2rem 0 2.2rem 0;
        letter-spacing: 0.3px;
        font-size: 1.1rem;
        font-weight: 500;
        color: rgb(72, 166, 72);
    }
    & .sustainable-fashion-btn{
        font-size: 1.1rem;
        border-radius: 50px;
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
    }
}
/* ***************** Page5 end ****************** */

/* ***************** Page6 start ****************** */

#page6{
    width: 100%;
    /* min-height: 100vh; */
    background-color: rgba(0, 175, 96, 0.123);
}
.our-marketplace-div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.our-marketplace-content{
    & h1{
        font-size: 2.7rem;
        color: rgb(1, 66, 1);
    }
    & p{
        font-size: 1.1rem;
        color:  rgb(72, 166, 72);
        font-weight: 500;
        padding: 1rem 0 2rem 0;
    }
    & .our-marketplace-btn{
        background-color: transparent;
        border: 2px solid  #48a648;
        padding: 1.2rem;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        transition: all ease 0.8s;
        & a{
            color: #3a723a;
            font-weight: 600;
            font-size: 1rem;
        }
    }
    & .our-marketplace-btn:hover{
        background-color: rgba(43, 153, 16, 0.684);
    }
}
.our-marketplace-image{
   width: 680px;
   height: 350px;
   border-radius: 20px;
   position: relative;
   overflow: hidden;

   & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
   }
}
.our-marketplace-div2{
    width: 100%;
    margin-top: 4rem;
    padding: 5rem 2rem;
    background-color: rgba(52, 172, 118, 0.167);
    display: flex;
    text-align: left;
    gap: 4rem;

    & i{
        font-size: 2rem;
        color: black;
    }
    & .template-heading{
        font-size: 1.3rem;
        font-weight: 500;
        color: #3a723a;
        padding: 1.1rem 0 0.6rem 0;
    }
    & .template-subheading{
        font-size: 0.9rem;
        line-height: 1.5;
        color: rgb(72, 166, 72);
    }
}

/* *****************Page6 End******************* */
/* *****************Page7 Start******************* */

#page7{
    width: 100%;
    background-color: rgba(0, 175, 96, 0.123);
}
.parmotion-brands{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    & .brand-image img{
        margin: 8rem 0;
        width: 100%;
        height: 100%;
    }
}

/* *****************Page7 End******************* */

/* *****************Page8 Start******************* */
#page8{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 175, 96, 0.123);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;
}
.review-page{
    width: 70%;
    text-align: center;
    & .review-heading{
        font-size: 2.5rem;
        font-weight: 500;
        padding-bottom: 5rem;
        color: rgb(1, 66, 1);
    }
}
.about-review{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    & .left-part{
        width: 100px;
        height: 120px;
        border-radius:  50%;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.675);
        & img{
            width: 100%;    
            object-fit: cover;
        }
    }
    & .right-part{
        text-align: left;
        & .name{
            font-size: 1.6rem;
            padding-bottom: 0.5rem;
            font-weight: 600;
            color: rgba(1, 66, 1, 0.764);
        }       
        & .about-doing{
            font-size: 1.1rem;
            color:  rgb(93, 168, 7);
        }
    }
}
/* *****************Page8 End******************* */

/* *****************Footer Start******************* */

footer{
    width: 100%;
    background-color:rgb(2, 42, 2);
    color: rgba(255, 255, 255, 0.774);
    & a{
        color: rgba(255, 255, 255, 0.774);
    }
}
.footer-section{
    padding: 5rem 5rem 10rem 5rem;
    display: flex;
    justify-content: space-between;
}
.footer-leftpart{
    & .brand-name{
        font-size: 1.3rem;  
        display: flex;
        align-items: center;
        gap: 0.3rem;

        & i{
            font-size: 2.5rem;
        }
    }
    & .footer-para{
        padding-top: 3rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
    /* & .copyrights{
        padding-top: 5rem;
        font-size: 0.7rem;
    } */
}
.footer-rightpart{
    display: flex;
    gap: 5rem;
}
.footer-right-div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & .footer-item{
        font-size: 1.1rem;
        font-weight: 500;
    }
}

/* *****************Footer End******************* */

/* ----------------- Responsive layout Start ------------------ */
@media (width<1200px) {
    .btn{
        padding: 0.9rem 1.5rem;
        font-size: 0.8rem;
    }
   .navbar{
        & .brand-name{
            font-size: 1rem;
        }
        & .nav-items{
            gap: 0.9rem;

            & li{
                font-size: 0.8rem;
            }
        }
   }/* nav-bar end */
   .hero-section{
        padding-top: 5rem;
        gap: 1rem;
        & h1{
            /* line-height: 0.9; */
            font-size: 7rem;
        }
        & .hero-para{
            font-size: 1.2rem;
        }/* hero-section end */
   }
   #page3{
        & .our-communitment{
            gap: 4rem;
        }
        & .our-communitment-content{
            font-weight: 900;
            & .para1{
                font-size: 1.6rem;
            }
            & .para2{
                font-size: 1.3rem;
            }
        }
   }/* page3 end */

   /* #page4{
        
   } */
   
}
/* ----------------- Responsive layout End ------------------ */
